* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(./img/pexels-quintin-gellar-313782.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-box {
    text-align: center;
    background: #ff574a;
    padding: 40px 90px;
    border-radius: 20px;
    color: #fff;
    position: relative;
}

.menu-icon {
    width: 25px;
    position: absolute;
    left: 30px;
    top: 30px;
}

.setings-icon {
    width: 25px;
    position: absolute;
    right: 30px;
    top: 30px;
}

.profile_pic {
    width: 150px;
    background: #fff;
    padding: 5px;
    clip-path: circle();
    margin-top: 30px;
}

.profile-box button {
    background: white;
    color: #ff574a;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px rgba(red, green, blue, alpha);
    padding: 8px 35px;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 2rem;
    margin-top: 1.2rem;
}

.profile-box button:hover {
    background: black;
}

.social-media img {
    width: 20px;
    margin: 30px 5px;
    cursor: pointer;
}

.copy-bottom {
    margin-top: 1rem;
    text-transform: lowercase;
}