* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(./img/pexels-quintin-gellar-313782.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-box {
    text-align: center;
    background: #ff574a;
    padding: 40px 90px;
    border-radius: 20px;
    color: #fff;
    position: relative;
}

.menu-icon {
    width: 25px;
    position: absolute;
    left: 30px;
    top: 30px;
}

.setings-icon {
    width: 25px;
    position: absolute;
    right: 30px;
    top: 30px;
}

.profile_pic {
    width: 150px;
    background: #fff;
    padding: 5px;
    clip-path: circle();
    margin-top: 30px;
}