* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(./img/pexels-quintin-gellar-313782.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-box {
    text-align: center;
    background: #ff574a;
    padding: 40px 90px;
    border-radius: 25px;
    color: #fff;
    position: relative;
}

.fa-bars {
    width: 40px;
    position: absolute;
    left: 40px;
    top: 35px;
    cursor: pointer;
}

.fa-gear {
    width: 40px;
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
}

.profile_pic {
    width: 150px;
    background: #fff;
    padding: 5px;
    clip-path: circle();
    margin-top: 28px;
}

.profile-box button {
    background: white;
    color: #ff574a;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px rgba(5, 5, 5, 30);
    padding: 8px 35px;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.profile-box button:hover {
    background: black;
}

.copy-bottom {
    margin-top: 1rem;
    text-transform: lowercase;
}

.menu-icon:hover {
    background: #fff;
}

.setings-icon:hover {
    background: #fff;
}

.fa-brands {
    color: black;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    margin: 25px 10px;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.fa-brands:hover {
    transform: translate(0, -5px);
}